:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0 1 22.25 21H1.75A1.75 1.75 0 0 1 0 19.25Zm1.75-.25a.25.25 0 0 0-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 0 0 .25-.25V4.75a.25.25 0 0 0-.25-.25Z"/><path d="M9 15.584V8.416a.5.5 0 0 1 .77-.42l5.576 3.583a.5.5 0 0 1 0 .842L9.77 16.005a.5.5 0 0 1-.77-.42Z"/></svg>')
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(255, 80, 5);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(179, 89, 25, 0.1);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(255, 80, 5);
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }



  :root {
    --md-admonition-icon--belangrijk: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 3h4v11h-4V3m0 18v-4h4v4h-4Z"/></svg>')
  }
  .md-typeset .admonition.belangrijk,
  .md-typeset details.belangrijk {
    border-color: rgb(0, 170, 40);
  }
  .md-typeset .belangrijk > .admonition-title,
  .md-typeset .belangrijk > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .belangrijk > .admonition-title::before,
  .md-typeset .belangrijk > summary::before {
    background-color: rgb(0, 170, 40);
    -webkit-mask-image: var(--md-admonition-icon--belangrijk);
            mask-image: var(--md-admonition-icon--belangrijk);
  }
